<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <listener>
    <listener-class>com.cyou.mrd.disunityweb.web.InitConfigListener</listener-class>
  </listener>
  <display-name>fileupload</display-name>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.cyou.mrd.disunityweb.web.UploadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckAnalysisResult</servlet-name>
    <servlet-class>com.cyou.mrd.disunityweb.web.CheckAnalysisResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckAnalysisResult</servlet-name>
    <url-pattern>/check</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckSceneResult</servlet-name>
    <servlet-class>com.cyou.mrd.disunityweb.web.CheckSceneResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckSceneResult</servlet-name>
    <url-pattern>/checkscene</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckAllResult</servlet-name>
    <servlet-class>com.cyou.mrd.disunityweb.web.CheckAllResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckAllResult</servlet-name>
    <url-pattern>/checkall</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckAbResult</servlet-name>
    <servlet-class>com.cyou.mrd.disunityweb.web.CheckAbResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckAbResult</servlet-name>
    <url-pattern>/checkab</url-pattern>
  </servlet-mapping>
</web-app>